.detail_imagen {
    border: solid rgb(68, 1, 1);
    
}
.detail{
    background-color: grey;
}
.link_inicio {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #fccc2d;
   
}
.link_inicio:hover {
    background-color: #d0d0d0;
}