
:root {
  background-color: grey;
}
.image {
  border: solid rgb(68, 1, 1);
 width: 300px;
  border-radius: 8rem 0 8rem 0;
}
.gallery{
   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10rem;
  list-style: none;
}
.header_title {
  font-family: 'Harry P', serif;
  font-size: 4rem;
  color: #d4af37;
  text-shadow: 2px 2px 0 #000, 4px 4px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 2rem;
}

